USE [master]
GO
/****** Object:  Database [veterinerson]    Script Date: 28.12.2023 21:37:02 ******/
CREATE DATABASE [veterinerson]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'veterinerson', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\veterinerson.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'veterinerson_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\veterinerson_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [veterinerson].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [veterinerson]
GO
/****** Object:  Table [dbo].[Aşılar]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aşılar](
	[AşıID] [int] IDENTITY(1,1) NOT NULL,
	[AşıAdı] [varchar](50) NULL,
	[AşıTürü] [varchar](50) NULL,
	[AşılamaTarihi] [date] NULL,
	[HayvanID] [int] NULL,
 CONSTRAINT [PK__Aşılar__64DA324E35DEC0B8] PRIMARY KEY CLUSTERED 
(
	[AşıID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hayvanlar]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hayvanlar](
	[HayvanID] [int] IDENTITY(1,1) NOT NULL,
	[Adı] [varchar](50) NULL,
	[Türü] [varchar](50) NULL,
	[Irkı] [varchar](50) NULL,
	[Cinsiyeti] [varchar](10) NULL,
	[DoğumTarihi] [date] NULL,
	[SahipID] [int] NULL,
 CONSTRAINT [PK__Hayvanla__273611D87E7E0309] PRIMARY KEY CLUSTERED 
(
	[HayvanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İlaçlar]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İlaçlar](
	[İlaçID] [int] IDENTITY(1,1) NOT NULL,
	[İlaçAdı] [varchar](50) NULL,
	[İlaçTürü] [varchar](50) NULL,
	[Miktar] [int] NULL,
	[BirimFiyat] [decimal](10, 2) NULL,
 CONSTRAINT [PK__İlaçlar__AA1B76C07F4F64A7] PRIMARY KEY CLUSTERED 
(
	[İlaçID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muayene]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muayene](
	[MuayeneID] [int] IDENTITY(1,1) NOT NULL,
	[HayvanID] [int] NOT NULL,
	[VeterinerID] [int] NULL,
	[MuayeneTarihi] [date] NULL,
	[Teşhis] [varchar](255) NULL,
	[Tedavi] [varchar](255) NULL,
 CONSTRAINT [PK__Muayene__FCCEDA4C8181BA51] PRIMARY KEY CLUSTERED 
(
	[MuayeneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuayeneAşı]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuayeneAşı](
	[MuayeneAşıID] [int] NOT NULL,
	[MuayeneID] [int] NULL,
	[AşıID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MuayeneAşıID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muayeneİlaç]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muayeneİlaç](
	[MuayeneİlaçID] [int] NOT NULL,
	[MuayeneID] [int] NULL,
	[İlaçID] [int] NOT NULL,
	[Miktar] [int] NULL,
	[Fiyat] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Muayeneİ__AF5D2B629E26C597] PRIMARY KEY CLUSTERED 
(
	[MuayeneİlaçID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sahipler]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sahipler](
	[SahipID] [int] NOT NULL,
	[Adı] [varchar](50) NULL,
	[Soyadı] [varchar](50) NULL,
	[TelefonNumarası] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Adres] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SahipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinerler]    Script Date: 28.12.2023 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinerler](
	[VeterinerID] [int] NOT NULL,
	[Adı] [varchar](50) NULL,
	[Soyadı] [varchar](50) NULL,
	[TelefonNumarası] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[UzmanlıkAlanı] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VeterinerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hayvanlar]  WITH CHECK ADD  CONSTRAINT [FK__Hayvanlar__Sahip__4E88ABD4] FOREIGN KEY([SahipID])
REFERENCES [dbo].[Sahipler] ([SahipID])
GO
ALTER TABLE [dbo].[Hayvanlar] CHECK CONSTRAINT [FK__Hayvanlar__Sahip__4E88ABD4]
GO
ALTER TABLE [dbo].[MuayeneAşı]  WITH CHECK ADD  CONSTRAINT [FK__MuayeneAş__AşıID__60A75C0F] FOREIGN KEY([AşıID])
REFERENCES [dbo].[Aşılar] ([AşıID])
GO
ALTER TABLE [dbo].[MuayeneAşı] CHECK CONSTRAINT [FK__MuayeneAş__AşıID__60A75C0F]
GO
ALTER TABLE [dbo].[MuayeneAşı]  WITH CHECK ADD  CONSTRAINT [FK__MuayeneAş__Muaye__5FB337D6] FOREIGN KEY([MuayeneID])
REFERENCES [dbo].[Muayene] ([MuayeneID])
GO
ALTER TABLE [dbo].[MuayeneAşı] CHECK CONSTRAINT [FK__MuayeneAş__Muaye__5FB337D6]
GO
ALTER TABLE [dbo].[Muayeneİlaç]  WITH CHECK ADD  CONSTRAINT [FK__Muayeneİl__İlaçI__5CD6CB2B] FOREIGN KEY([İlaçID])
REFERENCES [dbo].[İlaçlar] ([İlaçID])
GO
ALTER TABLE [dbo].[Muayeneİlaç] CHECK CONSTRAINT [FK__Muayeneİl__İlaçI__5CD6CB2B]
GO
ALTER TABLE [dbo].[Muayeneİlaç]  WITH CHECK ADD  CONSTRAINT [FK__Muayeneİl__Muaye__5BE2A6F2] FOREIGN KEY([MuayeneID])
REFERENCES [dbo].[Muayene] ([MuayeneID])
GO
ALTER TABLE [dbo].[Muayeneİlaç] CHECK CONSTRAINT [FK__Muayeneİl__Muaye__5BE2A6F2]
GO
USE [master]
GO
